  <div class="empty-state__shape shape-sequencer">
    <div class="seq-1"><div class="solid-square"></div></div>
    <div class="seq-2"><div class="solid-circle"></div></div>
    <div class="seq-3"><div class="solid-leaf"></div></div>
    <div class="seq-4"><div class="solid-capsule"></div></div>
    <div class="seq-5"><div class="solid-diamond"></div></div>
    <div class="seq-6"><div class="solid-arch"></div></div>
    <div class="seq-7"><div class="solid-blob"></div></div>
    <div class="seq-8"><div class="solid-teardrop"></div></div>
    <div class="seq-9"><div class="solid-star"></div></div>
    <div class="seq-10"><div class="solid-triangle"></div></div>
  </div>
