/* Small versions of login geometric shapes (STATIC) */

.shape-square-sm {
  width: 100px;
  height: 100px;
  border-radius: 16px !important;
  background-color: var(--shape-fill-accent);
  border: 1px solid var(--shape-border-accent) !important;
  transform: rotate(22deg);
}

.shape-torus-sm {
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
  border: 24px solid var(--shape-fill-dark) !important;
  outline: 1px solid var(--shape-border-dark);
  transform: rotate(-12deg);
}

.shape-circle-sm {
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
  background-color: var(--shape-fill-dark);
  border: 1px solid var(--shape-border-dark) !important;
}

.shape-triangle-sm {
  width: 100px;
  height: 100px;
  background-color: var(--shape-fill-accent);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-28deg);
}
